[submodule "interface"]
	path = interface
	url = https://github.com/Qv2ray/QvPlugin-Interface
[submodule "3rdparty/shadowsocks-uvw"]
	path = 3rdparty/shadowsocks-uvw
	url = https://github.com/Qv2ray/shadowsocks-uvw.git
[submodule "3rdparty/QJsonStruct"]
	path = 3rdparty/QJsonStruct
	url = https://github.com/Qv2ray/QJsonStruct
